* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.backcover {
  background-image: url("../img/ng.jpg");
  background-position: center center;
  background-size: cover;
  position: fixed;
  height: 800px;
  width: 1318px;
  display: block;
  left: 0;
  top: 0;
  z-index: 1;
}

.overlay {
  width: 1318px;
  height: 800px;
  background: rgba(17, 16, 16, 0.171);
}

.content {
  z-index: 100;
  position: fixed;
  top: 90px;
  left: 0;
}

#restart {
  float: right;
  display: block;
  position: relative;
  left: 82%;
}

/* styling carousel */
.carousel {
  width: 100%;
}

.head {
  position: absolute;
  top: 0;
  left: 34%;
}

.userBox {
  position: relative;
  top: 80px;
  width: 82%;
  display: flex;
  left: 9%;
  box-shadow: 0 0 8px 5px rgba(0, 0, 0, .45);
}

.carousel-item {
  max-width: 800px;
  /* min-height: 627px; */
}

.carousel-item img {
  max-height: 627px;
}

.right {
  width: 660px;
  text-align: center;
  background-color: #fcfcfc6b;
}

.right h3 {
  position: relative;
  top: 25%;
}

.right p {
  position: relative;
  top: 40%;
}

h5 {
  font-size: 40px;
  font-weight: bold;
}

/* styling brand icon */
.navbar-brand {
  font-weight: bold;
  letter-spacing: 4px;
}

.navbar-brand span {
  color: #00c200;
  letter-spacing: 0;
}

.bg {
  transition: background-color 250ms ease-in-out;
}

.bg:hover {
  background-color: #03482c;
}

.btn {
  border-radius: 0;
  text-transform: uppercase;
  transition: all 500ms ease-in-out;
}

.right .btn {
  background: #03482c;
  color: #f6f6f6;
}

.btn:hover {
  background: rgba(0, 0, 0, 0);
  color: #f6f6f6;
  box-shadow: inset 0 0 0 3px #f6f6f6;
}

.carousel-item .btn:hover
{
  color: #03482c;
  box-shadow: inset 0 0 0 3px #03482c;
  transform: scale(1.2);
}

.right .btn:hover {
  color: #03482c;
  box-shadow: inset 0 0 0 3px #03482c;
}

/* Styling the registration form */
.myModal {
  position: absolute;
  left: 0;
  right: 0;
  top: -100px;
  z-index: 5000;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

.modalContent {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 0;
  border: 1px solid #093602cc;
  width: 80%;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  max-height: 680px;
}

.close {
  color: #666464;
  font-size: 28px;
  font-weight: bold;
  float: right;
  margin-top: -40px;
}

.close:hover,
.close:focus {
  color: #090909;
  text-decoration: none;
  cursor: pointer;
}

.modalHeader {
  padding: 12px 30px;
  background-color: #03482c;
  color: #f8f8f8;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #03482c;
  box-shadow: 0 0px 8px 9px rgba(0, 0, 0, 0.19);
}

.modalHead {
  font-weight: bolder;
  padding-top: 5px;
}

.modal-body {
  padding: 2px 16px;
}

.modalFooter {
  padding: 2px 16px;
  background-color: #03482c;
  color: #f8f8f8;
  padding: 8px 30px;
  text-align: center;
  margin-top: -592px;
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* Styling the form elements */
.bkg {
  background-image: url('../img/Flag-map_of_Nigeria.svg.png');
  height: 556px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  filter: opacity(.3);
}

.proudly {
  position: absolute;
  left: 86%;
  bottom: 45%;
}

#regForm {
  background-color: transparent;
  margin: 25px auto;
  width: 90%;
  min-width: 300px;
  z-index: 1000;
  position: relative;
  top: -573px;
}

input {
  padding: 8px;
  display: block;
  width: 40%;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #aaa;
  transition: width 400ms ease-in-out;
  border-radius: 3px;
  margin-bottom: 10px;
}

input:focus {
  width: 60%;
  border: 1px solid #026b41;
  box-shadow: 0 0px 6px 1px rgba(110, 238, 110, 0.4);
}

input.invalid {
  background-color: #ffdddd;
}

/* Hide all tabs by default */
.tab {
  display: none;
}

/* the circles */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step */
.step.active {
  opacity: 1;
}

.step.finish {
  background-color: #4caf50;
}

.tab {
  font-weight: 600;
  color: #888;
}

.label {
  display: block;
  clear: both;
  padding-bottom: 5px;
}

.buttons button {
  background-color: #03482c;
  padding: 8px;
  width: 148px;
  border: none;
  box-shadow: 0 0px 6px 1px rgba(14, 14, 14, 0.4);
  color: #f8f8f8;
  transition: all 500ms ease-in-out;
}

.buttons button:hover {
  background-color: #ffffff00;
  box-shadow: inset 0 0 0 3px #03482c;
  color: #03482c;
}

.tbc {
  font-weight: bold;
  color: #04271a;
}